.chat-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 78px;
    margin-bottom: 26px;
    height: 90vh;
    overflow-y: none;
    overflow-x: none;
    padding: 10px;
    background-color: #110f0f;
}

.chat-bubble-space {
    width: 100%;
    padding-bottom: 10px;
    height: 10px !important;
}

.chat-bubble-container {
    padding-top: 12px;
    padding-bottom: 12px;
    min-height: 46px;
    width: 100%;
}

.chat-bubble {
    border-radius: 15px;
    padding: 10px;
    margin: 5px 0;
    max-width: 380px;

    & p {
        margin: 4px;
        color: white;
    }
}

.left {
    border-top-left-radius: 0;
    background-color: #0040ff;
    /* float: left; */
    align-items: flex-start;
}

.right {
    border-bottom-right-radius: 0;
    background-color: #006bae;
    /* float: right; */
    align-items: flex-end;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #000000;
    display: flex;
    align-items: center;
}

footer input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
}

footer button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    margin-right: 20px;
    width: 50px;
    cursor: pointer;
}

footer button:hover {
    background-color: #006bdd;
}

footer button:active {
    background-color: #004289;
}